@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Work+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;700&family=Work+Sans:wght@800&display=swap');
.primary {color: #B7E1FC;}

.bg-primary {background-color: #B7E1FC;}

.border-primary {border-color: #B7E1FC;}
.border-secondary {border-color: #D4D0FE;}

.bg-scribble-hover:hover {
    background-image: url("/scribble.png");
    background-size: contain;
}

@responsive {
    .w-150 {width: 600px;}
}

.up-spinner {
    position: absolute;
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.2rem solid rgba(255, 255, 255, 0.3);
    border-top-color: white;
    animation: up-spin 1s linear infinite;
}

.up-spinner.dark {
    border-color: rgba(0, 0, 0, 0.3);
    border-top-color: black;
}

.oswald {
    font-family: 'Oswald';
}

.work-sans {
    font-family: 'Work Sans';
}

.raleway {
    font-family: 'Raleway';
}

.montserrat {
    font-family: 'Montserrat';
}

@keyframes up-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}